<% layout('layouts/boilerplate')%>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div>
                    <img id="plant" class="d-flex justify-content-end" src="assets/plant-1-smaller.png"
                        alt="beutiful plant">
                    <h1 class="hero-title">
                        <%= translations.hero_title_first %>
                            <span class="plant">
                                <%= translations.hero_title_plant %>
                            </span>
                            <%= translations.hero_title_second %>
                    </h1>
                    <img id="white-circle" src="assets/icons/White-Circle.png" alt="white circle">
                    <h3 class="mt-5">
                        <%= translations.to_the_project %><img id="arrow" src="assets/icons/right-arrow-smaller.png"
                                alt="arrow right">
                    </h3>
                    <div class="quote-title margin-right mt-5 d-flex justify-content-evenly bold">
                        <%= translations.make_plant_companion %>
                    </div>
                    <div class="quote margin-right d-flex justify-content-evenly">
                        <%= translations.dont_worry %>
                    </div>
                    <div class="quote mt-5"><span class="bold quote-title">
                            <%= translations.always_stay_healthy %>
                        </span><br>
                        <%= translations.dont_worry_2 %>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= Team Section ======= -->
    <section class="team-section">
        <article id="about-us" class="flow">
            <h1 class="team-title">
                <%= translations.our_team_title %>
            </h1>
            <p>
                <%= translations.meet_the_team %>
            </p>
            <div class="team">
                <ul class="auto-grid" role="list">
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Anita Simmons</h2>
                            <p>Founder</p>
                            <img alt="Anita Simmons" src="assets/our team/ahmed-yameen.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Celina Harris</h2>
                            <p>Creative Director</p>
                            <img alt="Profile shot for Celina Harris" src="assets/our team/angelo-abear.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Ruby Morris</h2>
                            <p>Technical Lead</p>
                            <img alt="Profile shot for Ruby Morris"
                                src="https://source.unsplash.com/pQyIutdScOY/800x800" />
                        </a>
                    </li>
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Nicholas Castro</h2>
                            <p>Designer</p>
                            <img alt="Profile shot for Nicholas Castro" src="assets/our team/ethan-rougon.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Marc Dixon</h2>
                            <p>Developer</p>
                            <img alt="Profile shot for Marc Dixon" src="assets/our team/jose-matute.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://swop.link/cool" target="_blank" class="profile">
                            <h2 class="profile__name">Chad Chadson</h2>
                            <p>Intern</p>
                            <img alt="Profile shot for Chad" src="https://source.unsplash.com/7jCYw6a2Wao/800x800" />
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </section><!-- End Team Section -->